.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.swiper-slide img {
    border-radius: 15px;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #f1f1f1;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #f1f1f1;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #FFFFFFB2;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    font-size: 25px;
    width: 40px;
    height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
}

.banners {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin: 25px 0;
        width: 1220px;
        height: 415px;
        border-radius: 15px;
        object-fit: cover;
    }
}

@media (max-width: 1400px) {
    .banners img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .banners img {
        width: 95%;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .banners img {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .banners img {
        width: 85%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .banners img {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .banners img {
        width: 75%;
        height: auto;
    }
}

@media (max-width: 360px) {
    .banners img {
        width: 70%;
        height: auto;
    }
}

@media (max-width: 320px) {
    .banners img {
        width: 65%;
        height: auto;
    }
}

@media (max-width: 1400px) {
    .swiper-slide img {
        width: 95%;
        height: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 20px;
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 1200px) {
    .swiper-slide img {
        width: 90%;
        height: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 18px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 992px) {
    .swiper-slide img {
        width: 85%;
        height: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 16px;
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 768px) {
    .swiper-slide img {
        width: 80%;
        height: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 14px;
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 576px) {
    .swiper-slide img {
        width: 75%;
        height: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 12px;
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 480px) {
    .swiper-slide img {
        width: 70%;
        height: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 10px;
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 360px) {
    .swiper-slide img {
        width: 65%;
        height: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 8px;
        width: 14px;
        height: 14px;
    }
}